@model QMProject.Models.ParentClass
@{
    ViewBag.Title = "Search_User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="span12" align="center">
    <form action="/Admin/Search_Result_Users" method="post">
        <p><b style="font-size:x-large">Search Users</b></p>
        <label style="color:blue">Name</label>
        <input id="Name" name="Name" type="text" />
        <div>
            <input value="Search" type="submit" class="btn btn-info" />
        </div>
    </form>
</div>