@model List<QMProject.Models.ParentClass>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutClientLogOut.cshtml";
}
<div class="span12" align="center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/download (2).jpg" alt="Chania">
            </div>
            <div class="item">
                <img src="~/Images/bg12.jpg" alt="Chania">
            </div>
            <div class="item">
                <img src="~/Images/download (4).jpg" alt="Flower">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
    <div>
        <p style="color:black">
            <b>Quick Medicine</b> provide quick facility of medicine searching to medicine seeker in his/her area and buy the required medicine. A medicine seeker just need to log on to this website and search. <b>Quick Medicine</b> also provide a plateform to all medical stores to manage their medicines data as well.
        </p>
    </div>
</div>