@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClientLogIn.cshtml";
}
<div class="span12" align="center">
    <label class="form-control">Subject</label>
    <input id="subject" name="subject" style="padding:0px,100px,0px,10px" type="text" class="form-control span8" />
    <label>body</label>
    <div class="form-group">
        <textarea class="form-control span8" rows="12" id="comment"></textarea>
    </div>
    <input id="send" name="send" type="button" value="Send" />
</div>